.input {
  width: 75%;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #e4e7ec;
  background: #f6f7fb;
  font-size: 1rem;
}

.validateBtn {
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  background: #42b883;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-weight: 600;
  cursor: pointer;
}

.addBtn {
  margin: 2rem;
  padding: 0.7rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-weight: 600;
  cursor: pointer;
}